<link rel="stylesheet" type="text/css" href="css/header.css" />

<div class="header">
  <a href="/" class="logo">Conceptual</a>
  <div class="header-right">
    <a class="active" href="#">Home</a>
  </div>
</div>
